<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Plataforma de Doações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Plataforma de Doações Solidárias</h1>
        </header>

        <div class="tab-content active-tab">
            <h2>Login de Usuário</h2>
            {% if msg %}
                <p style="color: red;">{{ msg }}</p>
            {% endif %}
            <div class="login-section">
                <form action="{{ url_for('login') }}" method="post">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Digite seu e-mail" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Digite sua senha" required>
                    </div>
                    <button class="login-btn" type="submit">Entrar</button>
                </form>
                <p>Não tem conta? <a href="{{ url_for('cadastro_usuario') }}">Cadastre-se aqui</a></p>
            </div>
        </div>
    </div>
</body>
</html>