{% extends "base.html" %}
{% block content %}
<h2>Cadastro de Usuário</h2>
<form method="POST">
    <label>Nome: <input type="text" name="nome" required></label><br>
    <label>Endereço: <input type="text" name="endereco" required placeholder="Ex: Rua X, 123, Cidade"></label><br>
    <label>Telefone: <input type="text" name="telefone"></label><br>
    <label>E-mail: <input type="email" name="email" required></label><br>
    <label>CPF: <input type="text" name="cpf" required placeholder="000.000.000-00"></label><br>
    <label>Senha: <input type="password" name="senha" required minlength="6"></label><br>
    <button type="submit">Cadastrar</button>
</form>
{% endblock %}